<!--<h1>My First Angular 2 App</h1>-->
<!--<div>-->
  <!--<nav>-->
  <!--<a>Navigation:</a>-->
  <!--<ul>-->
  <!--<li><a [routerLink]="['home']">Home</a></li>-->
  <!--<li><a [routerLink]="['about']">About</a></li>-->
  <!--<li><a [routerLink]="['contact', 111]">Contact us</a></li>-->
  <!--</ul>-->
  <!--</nav>-->
    <!--<router-outlet></router-outlet>-->
  <!--</div>-->
<!--<div *ngFor="let data of dataArray; let i = index">-->
  <!--<hr>-->
  <!--<form >-->
    <!--<input [(ngModel)]="dataArray[i]" placeholder="name" #name-->
           <!--[ngModelOptions]="{standalone: true}">-->
    <!--<button (click)="submit(name)">Submit</button>-->
  <!--</form>-->
  <!--<p>You entered: {{data}}</p>-->
  <!--<p>Submited: {{enteredName}}</p>-->
  <!--<p>From service: {{stringFromService}}</p>-->
  <!--<child [data]="data"></child>-->
  <!--<hr>-->
<!--</div>-->
<forms></forms>
<simple-http></simple-http>
<i class="fa-3x fa fa-chevron-circle-up up" aria-hidden="true" (click)="scrollUp()"></i>